*{
	padding: 0px;
	margin: 0px;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.container > .items{
	position: relative;
}
.container>.items>.item{
	border: 1px solid #ddd;
	box-shadow: 0px 0px 10px 10px #CCCCCC;
	width: 230px;
	position: absolute;
}
.container>.items>.item>img{
	width: 100%;
}
.container>.items>.item>p{
	padding: 10px;
}
#loadmore{
	display: block;
	width:400px;
	line-height: 50px;
	background:#ddd;
	text-align: center;
	border-radius: 10px;
	margin:20px auto;
	text-decoration: none;
}